<% @videos.each do |video| %>
  <h4><a href="/videos/<%= video['id'] %>"><%= video['title']%></a></h4>
  <iframe id="player" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= video['url'] %>" frameborder="0"></iframe>
  <p>Added: <%= Time.parse(video['date_added']).strftime("%d/%m/%Y") %></p>
  <p>Views: <%= video['views'] %></p>
  <p><%= video['description']%></p>
<% end %>

