<iframe id="player" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/<%= @video['url'] %>" frameborder="0"></iframe>
<p>Added: <%= @video['date_added'] %></p>
<p>Views: <%= @video['views'] %></p>
<p><%= @video['description']%></p>

<form action="/videos/<%= @video['id'] %>/edit" method="get">
  <button>Edit</button>
</form>

<form action="/videos/<%= @video['id'] %>/delete" method="post">
  <button>Delete</button>
</form>